@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navbar {

    display: flex ;
    align-items: center;

    background: rgba(0, 0, 0, 1);
    background-size: cover;
    background-blend-mode: darken;
}

.nav-list {

    display: flex;
    justify-content: left;
    width: 80%;
    flex-direction: row;
    padding-left: 50px;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
     
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.nav-list li a:hover{
    color: rgb(221, 218, 218);   
}

.portfolio-banner {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 20%;
    padding: 26px 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
}

.pb-left {
    color: white;
    justify-content: right;
    margin-left: 63px;
}

.pb-right {
    color: yellow;
    justify-content: left;
}

.pb-left:hover{
    color: yellow;    
}

.pb-right:hover {
    color: white;
}